@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");

:root {
    --cor-de-fundo: #AA56B4;
    --branco: #444444;
    --laranja: #C6F7D8;
    --azul-degrade: linear-gradient(97.54deg, #FF69B4 35.49%, #AA56B4 165.37%);	
    --fonte-principal: "Poppins";
    --azul: #002FFF;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}